main {
  display: grid;
  grid-template-rows: 80px 280px 80px 100px;
  grid-template-columns: 1fr 100px 280px 100px 1fr;
  grid-template-areas: ". . target-selector . ." ". . webcamera command-controls performance" ". . message . ." ". . model-controls . .";
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#camera-selector {
  position: fixed;
  top: 20px;
  right: 20px;
}

#target-selector {
  grid-area: target-selector;
}

#target-selector a {
  display: inline-block;
  background: transparent;
  text-align: center;
  font-size: 2rem;
  color: var(--accent-color);
  text-shadow: var(--accent-color) 0 0 4px;
  width: 4rem;
  padding: .5rem 1rem;
  border: 4px solid currentColor;
  opacity: 0.5;
  transition-property: opacity, border-color, box-shadow, text-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

#target-selector a.active {
  opacity: 1.0;
  box-shadow: 0 0 50px rgba(255, 255, 255, .2),
        inset 0 0 20px rgba(255, 255, 255, .2);
}

#target-selector a:nth-child(1) {
  border-radius: 10px 0 0 10px;
}

#target-selector a:nth-child(2) {
  border-radius: 0 10px 10px 0;
}

.webcam-box {
  grid-area: webcamera;
  position: relative;
  width: var(--capture-size);
  height: var(--capture-size);
  overflow: hidden;
}

#webcam {
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: -50%;
}

.left #webcam {
  left: 0;
  right: auto;
}

.right #webcam {
  left: auto;
  right: 0;
}

.command-controls {
  grid-area: command-controls;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(var(--capture-size) + 16px);
}

.command-control {
  --button-size: 74px;
  position: relative;
  width: var(--button-size);
  height: var(--button-size);
}

.command-control button {
  width: 100%;
  height: 100%;
  font-size: 2rem;
}

.command-control button[predicted] {
  background-color: rgba(255, 255, 255, 0.5);
}

.command-control .count {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px;
  z-index: -1;
}

.performance-panel {
  font-family: sans-serif, Arial, Helvetica;
  grid-area: performance;
  background: #ffffff18;
}

.performance-panel label {
  color: var(--main-color);
  width: 90%;
  height: 28px;
  padding-top: 8px;
}

.score-pane {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
  padding: 0 8px;
}

.score-pane > div:last-child {
  visibility: hidden;
  height: 28px;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: calc(var(--capture-size) + 16px);
  font-size: 1.2rem;
  color: var(--accent-color);
}

.model-controls {
  grid-area: model-controls;
}

.model-controls button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.log-message {
  grid-area: message;
}
