#root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4rem 1fr;
  width: 100vw;
  height: 100vh;
  position: relative;
}

#root {
  --predicted-button-mask: rgba(255, 255, 255, 0.5);
}

.header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-button {
  margin: 0 1rem;
  cursor: pointer;
}

.theme-toggle {
  cursor: pointer;
  position: relative;
}

.theme-toggle input {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.toggle-button-bg {
  display: inline-block;
  width: 2rem;
  height: 0.9rem;
  border-radius: 0.45rem;
  background-color: rgba(35, 50, 185, 0.534);
}

.toggle-button-circle {
  position: absolute;
  top: -0.15rem;
  left: 0.5rem;
  width: 1.20rem;
  height: 1.20rem;
  border-radius: 50%;
  background-color: rgb(31, 77, 141);
  box-shadow: 0 0 0 rgba(21, 0, 210, 0.9);
  transition: left 150ms linear;
}

.theme-checked .toggle-button-bg {
  background-color: #FF0070;
}

.theme-checked .toggle-button-circle {
  left: 1.75rem;
  background-color: rgb(255, 255, 255);
}

.content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
}

main {
  display: grid;
  grid-template-columns: 280px 120px 120px 280px;
  grid-template-rows: 280px 100px 120px;
  grid-template-areas:
    "webcamera-left command-controls-left command-controls-right webcamera-right"
    "message-left . . message-right"
    ". model-controls model-controls .";
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.webcam-box {
  position: relative;
  width: var(--capture-size);
  height: var(--capture-size);
  overflow: hidden;
}

.webcam-box video {
  transform: scaleX(-1);
  position: absolute;
}

.webcam-box.left video {
  grid-area: webcamera-left;
  left: 0;
  right: auto;
}

.webcam-box.right video {
  grid-area: webcamera-right;
  left: auto;
  right: 0;
}

.crop-selector {
  position: absolute;
  top: 0;
  left: 0;
  cursor: crosshair;
}

.command-controls.left {
  grid-area: command-controls-left;
}

.command-controls.right {
  grid-area: command-controls-right;
}

.command-control {
  --button-size: 74px;
  position: relative;
  width: var(--button-size);
  height: var(--button-size);
  margin: 4px 0;
}

.command-control img {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scaleX(-1);
}

.command-control button, .command-control img {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  position: absolute;
}

.command-control button[predicted] {
  background-color: var(--predicted-button-mask);
}

.command-control .count {
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px;
}

.log-message.left {
  grid-area: message-left;
}

.log-message.right {
  grid-area: message-right;
}

.model-controls {
  grid-area: model-controls;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.model-controls button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

.model-controls .start-predict, .model-controls .stop-predict {
  grid-column: 1 / 3;
}

.robot-name {
  font-family: 'PixelMPlus', 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  margin: 24px 0;
  padding: 0.5rem 0.5rem;
  width: 216px;
  background: rgba(0, 0, 0, 0.15);
  color: var(--main-color);
  border-color: var(--main-color);
  border-width: 2px;
  border-style: solid;
  caret-color: var(--main-color);
}

.robot-name:focus {
  background: rgba(83, 255, 226, 0.2);
  border-color: white;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.modal-container.active {
  pointer-events: auto;
}

.modal-container::before {
  content: '';
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #131313;
  opacity: 0;
  transition: opacity 150ms linear;
}

.modal-container.active::before {
  opacity: 0.85;
}

.modal-content {
  position: relative;
  visibility: hidden;
  transform: visibility 150ms linear;
}

.modal-settings-content {
  position: absolute;
  background: var(--bg-color);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: 2px solid white;
  border-radius: 4px;
  width: 80%;
  height: 80%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.modal-settings-content h5 {
  margin-top: 3rem;
}

.modal-recorded-images {
  position: absolute;
}

.modal-settings-content.active, .modal-recorded-images.active {
  visibility: visible;
}

.records-container a {
  font-family: 'PixelMPlus', 'Courier New', Courier, monospace;
}

.show-records {
  color: var(--main-color);
  caret-color: var(--main-color);
}

.clear-records {
  color: var(--accent-color);
  caret-color: var(--accent-color);
}

.show-records.disabled, .clear-records.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.image-qrcode {
  display: none;
  width: 256px;
  height: 256px;
  background-color: #fff;
  padding: 1rem 0;
  margin: 0 4rem;
}

.modal-recorded-images .close-qrcode {
  display: none;
}

.modal-recorded-images.display-qrcode {
  background: white;
}

.display-qrcode .image-qrcode {
  display: flex;
  justify-content: center;
  align-items:center;
}

.display-qrcode .previous-image,
.display-qrcode .next-image,
.display-qrcode .toggle-left-image,
.display-qrcode .toggle-right-image,
.display-qrcode .share-image,
.display-qrcode .recorded-image-viewer {
  display: none;
}
.display-qrcode .close-qrcode {
  display: block;
}

.hide-left-image .toggle-left-image {
  text-decoration: line-through;
}
.hide-right-image .toggle-right-image {
  text-decoration: line-through;
}

.previous-image, .next-image {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  top: calc(50% - 2.5rem);
}

.previous-image:hover,
.previous-image:focus,
.next-image:hover,
.next-image:focus {
  text-decoration: none;
  cursor: pointer;
}

.previous-image {
  left: -10%;
}
.next-image {
  right: -10%;
}

.modal-footer {
  position: absolute;
  bottom: -3rem;
  display: flex;
  align-items: stretch;
  width: 100%;
}

.modal-footer button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  flex: 1;
  margin: 0 0.5rem;
  color: white;
}

.modal-footer button:active {
  background-color: rgba(255, 255, 255, 0.5);
}
