:root {
  --capture-size: 224px;
  --bg-color: rgb(1, 5, 8);
  --main-text-color: #53FFE2;
}

html {
  font-family: 'Courier New', Courier, monospace;
  background: var(--bg-color);
  color: var(--main-text-color);
}

a {
  text-decoration: none;
}

main {
  display: grid;
  grid-template-rows: 80px 280px 120px 80px;
  grid-template-columns: 100px 280px 100px;
  grid-template-areas: ". target-selector ." ". webcamera command-controls" ". model-controls ." ". message .";
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button:disabled {
  opacity: 0.6;
}

#target-selector {
  grid-area: target-selector;
}

#target-selector a {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  color: #666;
  background: #37474F;
  width: 4rem;
}

#target-selector a.active {
  color: #fff;
  background-color: #546E7A;
}

#target-selector a:nth-child(1) {
  border-radius: 10px 0 0 10px;
}

#target-selector a:nth-child(2) {
  border-radius: 0 10px 10px 0;
}

.webcam-box {
  grid-area: webcamera;
  position: relative;
  width: var(--capture-size);
  height: var(--capture-size);
  border: 4px solid #546E7A;
  overflow: hidden;
}

#webcam {
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: -50%;
}

.left #webcam {
  left: 0;
  right: auto;
}

.right #webcam {
  left: auto;
  right: 0;
}

.command-controls {
  grid-area: command-controls;
  display: flex;
  flex-direction: column;
}

.command-controls>* {
  width: 5rem;
  height: 4rem;
  position: relative;
}

.command-controls button {
  width: 100%;
  height: 100%;
  font-size: 2rem;
}

.command-controls [predicted] {
  background-color: skyblue;
}

.forward-count,
.neutral-count,
.backward-count {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px;
}

.model-controls {
  grid-area: model-controls;
}

.model-controls button {
  font-size: 1.2rem;
}

.log-message {
  grid-area: message;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  min-width: 200px;
  text-align: center;
  padding: 8px;
  height: 1rem;
}
