:root {
  --capture-size: 224px;
}

#root {
  --bg-color-light: rgb(255, 255, 255);
  --bg-color-dark: rgb(1, 5, 8);
  --bg-grid-color-light: #f1f1f1;
  --bg-grid-color-dark: #08223d;
  --main-color-light: rgb(62, 143, 206);
  --main-color-dark: rgb(83, 255, 226);
  --accent-color-light: rgb(209, 60, 118);
  --accent-color-dark: rgb(244, 175, 76);
  --accent-color-alpha-light: rgba(223, 95, 174, 0.3);
  --accent-color-alpha-dark: rgba(253, 237, 95, 0.3);
  --camerabox-border-color-light: rgb(113, 248, 252);
  --camerabox-border-color-dark: rgb(32, 202, 117);
  --camerabox-bg-color-light: rgba(32, 191, 202, 0.2);
  --camerabox-bg-color-dark: rgba(32, 202, 117, 0.2);

  --bg-color: var(--bg-color-light);
  --bg-grid-color: var(--bg-grid-color-light);
  --main-color: var(--main-color-light);
  --accent-color: var(--accent-color-light);
  --accent-color-alpha: var(--accent-color-alpha-light);
  --camerabox-border-color: var(--camerabox-border-color-light);
  --camerabox-bg-color: var(--camerabox-bg-color-light);

  --width: 1px;
  --gap: 10px;
  background-image: linear-gradient(var(--bg-grid-color) var(--width), transparent var(--width)),
                    linear-gradient(90deg, var(--bg-grid-color) var(--width), transparent var(--width));
  background-size: var(--gap) var(--gap);
  background-repeat: repeat;
  background-color: var(--bg-color);
  color: var(--main-color);
  transition: background-color 200ms linear,
              color 200ms linear;
}

#root.dark {
  --bg-color: var(--bg-color-dark);
  --bg-grid-color: var(--bg-grid-color-dark);
  --main-color: var(--main-color-dark);
  --accent-color: var(--accent-color-dark);
  --accent-color-alpha: var(--accent-color-alpha-dark);
  --camerabox-border-color: var(--camerabox-border-color-dark);
  --camerabox-bg-color: var(--camerabox-bg-color-dark);

}

@font-face {
  font-family: 'PixelMPlus';
  src: url('./assets/font/PixelMplus10-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'PixelMPlus';
  src: url('./assets/font/PixelMplus10-Bold.ttf');
  font-weight: bold;
}

html {
  font-family: 'PixelMPlus', 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-shadow: var(--main-color) 0 0 8px;
  font-size: 2.4rem;
  margin: 1rem 0;
}

p {
  margin: 0;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  --text-color: var(--accent-color);
  font-family: 'PixelMPlus', 'Courier New', Courier, monospace;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  text-shadow: var(--text-color) 0 0 8px;
  border: 2px solid currentColor;
  box-shadow: 0 0 50px rgba(255, 255, 255, .2),
        inset 0 0 20px rgba(255, 255, 255, .2);
  transition-property: text-shadow, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

button:active {
  background-color: var(--accent-color-alpha);
  text-shadow: var(--text-color) 0 0 16px;
  box-shadow: 0 0 100px rgba(255, 255, 255, .2),
        inset 0 0 40px rgba(255, 255, 255, .2);
}

input:focus,
button:focus,
select:focus {
  outline:0;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

select {
  cursor: pointer;
  background-color: transparent;
  width: 200px;
  height: 40px;
  font-size: 0.8rem;
  color: var(--main-color);
  border-color: var(--main-color);
}

.hidden {
  display: none !important;
}

.webcam-box {
  --box-border-color: var(--camerabox-border-color);
  background-color: var(--camerabox-bg-color);
  border-width: 3px;
  border-style: solid;
  border-color: var(--box-border-color);
  box-shadow: 0 0 20px var(--box-border-color);
  transition-property: border-width, border-color, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.log-message {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 8px;
  height: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  min-width: 200px;
}

.loading .loading-ring {
  opacity: 1;
  z-index: auto;
}

.loading-ring {
  top: 50%;
  right: auto;
  position: absolute;
  margin: -.6rem;
  opacity: 0;
  z-index: -100;
  transition: all .3s;
  transition-timing-function: ease-in;
  animation: ld-cycle 1s infinite linear;
  width: 1.2rem;
  height: 1.2rem;
}

.loading-ring:after {
  box-sizing: border-box;
  border-bottom-color: transparent!important;
  border-radius: 50%;
  border: .15rem solid;
  content: " ";
  display: inline-block;
  width: 100%;
  height: 100%;
}

@keyframes ld-cycle {
  0%,50%,to {
    animation-timing-function: cubic-bezier(.5,.5,.5,.5)
  }
  0% {
    transform: rotate(0)
  }
  50% {
    transform: rotate(180deg)
  }
  to {
    transform: rotate(360deg)
  }
}
