:root {
  --capture-size: 224px;
  --bg-color: rgb(1, 5, 8);
  --main-color: #53FFE2;
  --accent-color: #FADD5A;
}

@font-face {
  font-family: 'PixelMPlus';
  src: url('./assets/font/PixelMplus10-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'PixelMPlus';
  src: url('./assets/font/PixelMplus10-Bold.ttf');
  font-weight: bold;
}

html {
  --grid-color: #08223d;
  --width: 1px;
  --gap: 10px;
  font-family: 'PixelMPlus', 'Courier New', Courier, monospace;
  color: var(--main-color);
  background-color: var(--bg-color);
  background-image: linear-gradient(var(--grid-color) var(--width), transparent var(--width)),
                    linear-gradient(90deg, var(--grid-color) var(--width), transparent var(--width));
  background-size: var(--gap) var(--gap);
  background-repeat: repeat;
}

h1 {
  text-shadow: var(--main-color) 0 0 8px;
  font-size: 2.4rem;
}

a {
  text-decoration: none;
}

button {
  --text-color: #F4AF4C;
  font-family: 'PixelMPlus', 'Courier New', Courier, monospace;
  cursor: pointer;
  background-color: transparent;
  color: var(--text-color);
  text-shadow: var(--text-color) 0 0 8px;
  border: 2px solid currentColor;
  box-shadow: 0 0 50px rgba(255, 255, 255, .2),
        inset 0 0 20px rgba(255, 255, 255, .2);
        transition-property: text-shadow, box-shadow, background-color;
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
}

button:active {
  background-color: rgba(253, 237, 95, 0.3);
  text-shadow: var(--text-color) 0 0 16px;
  box-shadow: 0 0 100px rgba(255, 255, 255, .2),
        inset 0 0 40px rgba(255, 255, 255, .2);
}

button:focus, select:focus {
  outline:0;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

select {
  cursor: pointer;
  background-color: transparent;
  width: 200px;
  height: 40px;
  font-size: 0.8rem;
  color: var(--main-color);
  border-color: var(--main-color);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none !important;
}
